/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:
    radial-gradient(circle at top,#173147 0%,#071018 50%,#03070b 100%);

    color:white;

}

/* ==========================
   MENU
========================== */

nav{

    position:sticky;

    top:0;

    z-index:999;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:45px;

    padding:20px;

    background:rgba(7,16,24,.90);

    backdrop-filter:blur(15px);

    border-bottom:1px solid rgba(46,215,201,.20);

}

nav a{

    color:white;

    text-decoration:none;

    font-size:16px;

    font-weight:500;

    transition:.3s;

}

nav a:hover{

    color:#2ed7c9;

}

/* ==========================
   HERO
========================== */

.hero{

    max-width:1300px;

    margin:50px auto;

    text-align:center;

    padding:40px;

}

.logo{

    width:300px;

    margin-bottom:5px;

}

.hero h1{

    font-size:72px;

    letter-spacing:3px;

}

.hero span{

    color:#2ed7c9;

}

.hero h2{

    margin-top:10px;

    color:#d8d8d8;

    font-weight:400;

    letter-spacing:4px;

}

.hero p{

    margin-top:25px;

    font-size:22px;

    color:#55d5d1;

}

.banner{

    width:100%;

    margin-top:45px;

    border-radius:18px;

    box-shadow:0 20px 40px rgba(0,0,0,.35);

}

/* ==========================
   SOBRE
========================== */

.sobre{

    max-width:1300px;

    margin:40px auto;

    display:flex;

    flex-direction:column;

    gap:30px;

}

.duas-colunas{

    display:flex;

    gap:30px;

    align-items:stretch;

}

.duas-colunas .card{

    flex:1;

}

/* ==========================
   CARDS
========================== */

.card{

    background:rgba(14,25,37,.70);

    backdrop-filter:blur(15px);

    border:1px solid rgba(46,215,201,.15);

    border-radius:20px;

    padding:30px;

    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(0,0,0,.35);

}

.card h2{

    margin-bottom:25px;

    color:#2ed7c9;

}

.card p{

    color:#d5d5d5;

    line-height:30px;

}

/* ==========================
   SKILLS
========================== */

.skill{

    margin-bottom:25px;

}

.skill span{

    display:block;

    margin-bottom:8px;

    font-weight:500;

}

.barra{

    width:100%;

    height:12px;

    background:#1a2734;

    border-radius:50px;

    overflow:hidden;

}

.progresso{

    height:100%;

    border-radius:50px;

    background:linear-gradient(90deg,#00a8ff,#2ed7c9);

}

/* ==========================
   TÍTULOS
========================== */

.titulo{

    max-width:1300px;

    margin:70px auto 35px;

    font-size:38px;

    text-align:center;

}

/* ==========================
   PROJETOS
========================== */

.projetos{

    max-width:1300px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

    padding-bottom:80px;

}

.projeto{

    background:rgba(14,25,37,.70);

    backdrop-filter:blur(15px);

    border-radius:20px;

    overflow:hidden;

    border:1px solid rgba(46,215,201,.15);

    transition:.4s;

}

.projeto:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(46,215,201,.20);

}

.projeto img{

    width:100%;

    height:220px;

    object-fit:cover;

    transition:.4s;

}

.projeto:hover img{

    transform:scale(1.05);

}

.projeto h3{

    padding:20px;

    color:#2ed7c9;

}

.projeto p{

    padding:0 20px;

    color:#d3d3d3;

    line-height:28px;

    min-height:100px;

}

/* ==========================
   CONTATO
========================== */

#contato{

    margin-bottom:80px;

}

/* ==========================
   RESPONSIVO
========================== */

@media(max-width:1000px){

    .duas-colunas{

        flex-direction:column;

    }

    .projetos{

        grid-template-columns:1fr;

    }

    .hero h1{

        font-size:45px;

    }

    nav{

        gap:20px;

        flex-wrap:wrap;

    }

}

    /* ==========================
   EXPERIÊNCIA
========================== */

.experiencia{

    max-width:1300px;

    margin:40px auto;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;

}

.job{

    border-left:3px solid #2ed7c9;

    padding-left:20px;

    margin-bottom:35px;

}

.job:last-child{

    margin-bottom:0;

}

.job .ano{

    color:#2ed7c9;

    font-weight:bold;

}

.job h3{

    margin-top:10px;

    font-size:24px;

}

.job h4{

    color:#b8c7d6;

    margin:6px 0 12px;

}

.job p{

    line-height:28px;

}


/* ==========================
   TIMELINE
========================== */

.timeline{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    position:relative;

    margin-top:50px;

}

.timeline::before{

    content:"";

    position:absolute;

    top:22px;

    left:0;

    right:0;

    height:4px;

    background:#1f3345;

}

.evento{

    position:relative;

    width:23%;

    text-align:center;

    z-index:2;

}

.circulo{

    width:28px;

    height:28px;

    border-radius:50%;

    background:#2ed7c9;

    margin:0 auto 15px;

    border:5px solid #071018;

}

.futuro{

    background:#00b7ff;

}

.evento h3{

    color:#2ed7c9;

    margin-bottom:8px;

}

.evento strong{

    display:block;

    margin-bottom:8px;

}

.evento p{

    color:#b9c7d5;

    font-size:14px;

}

.btn-projeto{

    display:inline-block;

    margin:25px auto 30px;

    padding:14px 30px;

    border:2px solid #2ed7c9;

    border-radius:40px;

    color:#2ed7c9;

    text-decoration:none;


}

.btn-projeto:hover{

    background:#2ed7c9;

    color:#071018;

}

/* ==========================
   BOTÕES DAS SUBPÁGINAS
========================== */

.botoes-projeto{

    max-width:1300px;

    margin:50px auto;

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}

.botao{

    padding:16px 34px;

    border-radius:50px;

    text-decoration:none;

    font-size:16px;

    font-weight:600;

    transition:.35s;

}
